.header {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;
  border-bottom: 1px solid #783535;
  width: 80%;
  font-weight: 600;
  font-size: 36px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  width: 600px;
  height: 400px;
}

.passwordDisplayContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
}

.passwordTextField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  width: 80%;
  font-size: 22px;
}

.icon {
  transition: transform 0.3s;
}

.icon:active {
  transform: rotate(360deg);
}

.copyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #ba4949;
  font-weight: 600;
  font-size: 14px;
  user-select: none;
}

.copyButton:hover {
  background-color: #cacaca;
}

.copyButton:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(4px);
}

.passwordOptionsContainer {
  margin-top: 90px;
  width: 80%;
  height: 130;
  font-size: 20px;
}

.checkboxContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.15);
  border-radius: 8px;
}

.infoIcon {
  font-size: 18px;
  margin-right: 15px;
}

.infoIcon > path {
  stroke: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 32px;
  background: #ffffff;
  color: black;
}

.footer > a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
