:root {
  --color-background: #101b30;
  --color-whiteBackground: #d9d9d9;
  --color-cardBackground: #18253f;
  --color-cardBackgroundLight: #263752;
  --color-yellow: #ffd768;
  --color-veryGood: #44d2a7;
  --color-strong: #f5e445;
  --color-medium: #ffc94d;
  --color-weak: #ff9b5c;
  --color-veryWeak: #ff6565;
  --color-black: #000000;
  --color-white: #ffffff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero-section {
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
    width: 284px;
    margin-bottom: 97px;
    color: var(--color-yellow);
  }
  .hero-section > h1 {
    font-weight: 800;
    font-size: 40px;
  }
  .hero-section > p {
    font-weight: 400;
    font-size: 18px;
  }

  .password-display-container {
    margin: 0 auto;
    width: 284px;
    height: 122px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .password-display {
    width: 284px;
    height: 34px;
    padding: 4px 22px;
    border-radius: 32px;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    color: var(--color-black);
    font-weight: 400;
    font-size: 18px;
  }
  .password-copy-button {
    width: 183.36px;
    height: 50px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 32px;

    background-color: var(--color-cardBackgroundLight);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero-section {
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
    width: 400px;
    margin-bottom: 97px;
    color: var(--color-yellow);
  }
  .hero-section > h1 {
    font-weight: 800;
    font-size: 40px;
  }
  .hero-section > p {
    font-weight: 400;
    font-size: 18px;
  }

  .password-display-container {
    margin: 0 auto;
    width: 818px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .password-display {
    width: 612px;
    height: 56px;
    padding: 4px 36px;
    border-radius: 32px;

    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    color: var(--color-black);
    font-weight: 400;
    font-size: 32px;
  }
  .password-copy-button {
    width: 183.36px;
    height: 56px;
    border-radius: 16px;
    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 32px;

    background-color: var(--color-cardBackgroundLight);
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero-section {
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
    width: 600px;
    margin-bottom: 184px;
    color: var(--color-yellow);
  }
  .hero-section > h1 {
    font-weight: 800;
    font-size: 52px;
  }
  .hero-section > p {
    font-weight: 400;
    font-size: 24px;
  }

  .password-display-container {
    margin: 0 auto;
    width: 818px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .password-display {
    width: 612px;
    height: 56px;
    padding: 4px 36px;
    border-radius: 32px;

    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    color: var(--color-black);
    font-weight: 400;
    font-size: 32px;
  }
  .password-copy-button {
    width: 183.36px;
    height: 56px;
    border-radius: 16px;
    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 32px;

    background-color: var(--color-cardBackgroundLight);
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero-section {
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
    width: 887px;
    margin-bottom: 184px;
    color: var(--color-yellow);
  }

  .hero-section > h1 {
    font-weight: 800;
    font-size: 52px;
  }

  .hero-section > p {
    font-weight: 400;
    font-size: 24px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hero-section {
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
    width: 887px;
    margin-bottom: 184px;
    color: var(--color-yellow);
  }
  .hero-section > h1 {
    font-weight: 800;
    font-size: 52px;
  }
  .hero-section > p {
    font-weight: 400;
    font-size: 24px;
  }

  .password-display-container {
    margin: 0 auto;
    width: 818px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .password-display {
    width: 612px;
    height: 56px;
    padding: 4px 36px;
    border-radius: 32px;

    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    color: var(--color-black);
    font-weight: 400;
    font-size: 32px;
  }
  .password-copy-button {
    width: 183.36px;
    height: 56px;
    border-radius: 16px;
    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 32px;

    background-color: var(--color-cardBackgroundLight);
  }
}
